@model ADweb.Models.Pedidos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EstaEntregado" /> @Html.DisplayNameFor(model => model.EstaEntregado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EstaPago" /> @Html.DisplayNameFor(model => model.EstaPago)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PedidoCerrado" /> @Html.DisplayNameFor(model => model.PedidoCerrado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TotalCobrado" class="control-label"></label>
                <input asp-for="TotalCobrado" class="form-control" />
                <span asp-validation-for="TotalCobrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
