@model ADweb.Models.ConfiguracionLocalidades

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Seguro que desea eliminar esta localidad?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Localidad:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidades)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index"><i class="fas fa-arrow-left"></i> Volver</a> |
        <input type="submit" value="Eliminar" class="btn btn-default" />
    </form>
</div>
