@model IEnumerable<ADweb.Models.ConfiguracionLocalidades>

@{
    ViewData["Title"] = "Index";
}

<h2>Localidades</h2>

<p>
    <a asp-action="Create"> <i class="fas fa-plus"></i> Agregar nueva localidad</a>
</p>
<table class="tablespace">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localidades)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidades)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a asp-action="Volver"><i class="fas fa-arrow-left"></i> Volver</a>
